.marca{
    font-family: "lucida calligraphy";
    font-size: 7vh;
}
/*@media screen and(max-width :550px){
    .marca{
        min-height: 7vh !important;
        font-size: 5vh !important;
    } 
}*/
@media screen and(max-width :992px){
    .marca{
        min-height: 9vh !important;
        font-size: 5vh;
    } 
}


